<mat-toolbar [color]="pageNavbar.color">
    <ws-widget-btn-page-back [widgetData]="{ url: '/app/users' }"></ws-widget-btn-page-back>

    <span class="margin-left-xs text-truncate span-class">
        <span class="visible-xs-inline nav-bar-style" i18n>People</span>
    </span>
</mat-toolbar>
<!--Adding logic for invitations criteria-->
<div class="invitation-container pt-10" [ngClass]="{'flex justify-center mt-6': (isLoading$ | async) }">
    <div *ngIf="(isLoading$ | async)">
        <ng-container *ngTemplateOutlet="spinner"></ng-container>
    </div>
    <div class="flat-alert-error" *ngIf="(isApiError$ | async)">
        Error occured while processing your request, try again later
    </div>
    <div class="go-back-container" *ngIf="(isApiError$ | async)">
        <button mat-button mat-raised-button type="button" color="primary" routerLink="/app/users/list">
            Go to Users Page
        </button>
    </div>
    <ng-container *ngIf="notifyUser && notificationDetails !== null">
        <div class="flat-alert-success">
            Your action to "{{notificationDetails?.sourceActionType || 'NA'}}" the request has been processed successfully.
        </div>
        <div class="go-back-container">
            <button mat-button mat-raised-button type="button" name="emailConnect" color="primary" (click)="goToUserPage()" *ngIf="notificationDetails?.sourceActionType === 'Accept'">
                Connect with User
            </button>
            <button mat-button mat-raised-button type="button" color="primary" name="backToUser" routerLink="/app/users/list">
                Go to Users Page
            </button>
        </div>
    </ng-container>
</div>

<ng-template #spinner>
    <mat-spinner class="spinner" color="primary"></mat-spinner>
</ng-template>