@import 'ws-mixins';

.flat-alert {
    padding-left: 40px;
    z-index: 10;
    display: flex;
    flex-direction: row;
    min-height: 65px;
    border-radius: 4px;
    align-items: center;
    width: 80%;
    margin: auto;
}

.flat-alert-error {
    @extend .flat-alert;
    box-shadow: 1px 1px 10px 0 #f02f2fb3;
    background-color: #f38c8c94;
}

.flat-alert-success {
    @extend .flat-alert;
    box-shadow: 1px 1px 10px 0 #20f06c;
    background-color: #99fdbe;
}

.go-back-container {
    @include breakpoint-xs {
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button[name="backToUser"] {
            margin-top: 20px;
            margin-left: -9px;
            padding: 0 21px;
        }
    }
    @include breakpoint-s {
        padding: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    @include breakpoint-m {
        padding: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    @include breakpoint-l {
        padding: 5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

button[name="emailConnect"] {
    margin-right: 10px;
}