<div class="content relative">
  <div class="orignial rounded-sm">
    <ng-container [ngTemplateOutlet]="mainCardContent"></ng-container>
  </div>
  <div class="substitute rounded-sm absolute top-0 left-0">
    <ng-container [ngTemplateOutlet]="mainCardContent"></ng-container>
  </div>
</div>

<ng-template #mainCardContent>
  <mat-card class="profile-card text-center overflow-hidden cursor-pointer">
    <div class="flex mx-auto pt-4 image align-center justify-center">
      <img class="img-width rounded-full h-24 w-24"
        [src]="userData?.source_profile_picture ? userData.source_profile_picture : defaultUserImage">
    </div>
    <div class="text-center mt-2">
      <div class="font-size-18 flex justify-center align-center break-words txt-color">
        <span class="middle-text mr-2">{{userData?.first_name}}</span>
        <mat-icon class="mailicon mr-3">mail_outline</mat-icon>
      </div>
      <div class="font-size-18 org-color mt-2">
        {{userData?.department_name}}
      </div>
      <div class="hovercard mt-6">
        <div class="font-size-14 txt-color">
          <!-- <span>{{userData?.user_properties?.value?.profileLink}}</span> -->
          <a [attr.href]="userData?.user_properties?.value?.profileLink" target="_blank"
            class="profile-link">{{userData?.user_properties?.value?.profileLink}}</a>
          <a [attr.href]="userData?.user_properties?.value?.profileLink"
            class="profile-link-responsive">{{userData?.user_properties?.value?.profileLink}}</a>
        </div>
        <div class="bio-desc overflow-y-auto font-size-14 mx-5 txt-color">
          <p>{{userData?.user_properties?.value?.bio}}</p>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>