@import 'ws-vars';
@import 'ws-mixins';
@import 'ws-common';

    .nav-bar-style{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    }

    .span-class{
        flex:2
    }


    .search-container{
        padding-right: 1.5rem;
        display: flex;
        .expandSearchGroup{
            display: inline-block;
            position: relative;
            overflow: hidden;
            border: transparent;
            input{
              border:1px solid #cccccc;
              background: content-box;
              text-decoration: none;
              border-radius: 10px;
              padding-top: 8px ;
              outline: none;
              width:200px;
              height: 21px;
              display:flex;
              caret-color: white;
              padding-right: 32px;
              padding-bottom: 8px;
            }
            .searchIcon{
                position: absolute;
                top: 0;
                padding: 8px 8px 0px 22px ;
                color: white;
              }
            &:focus{
            input{
            padding-left: 50px !important;
                }
            }
        }
      }

      input.forms-control{
        width: 100%;
        padding-left: 55px !important;
        color: white;
      }
      ::placeholder {
        color: white;

      }

   .search-mobile-container {
        // max-width: 900px;
        max-width: 300px;
        margin:0 auto;
        padding: $size-m $size-s;
        .blog-content {
          @include breakpoint-xs {
            width: 80%;
          }
        }
        .mat-card.card-container{
            width: 300px;
            max-width: 300px;
            // border: 1px red solid;
        }
        .card-container.align-icon {
            margin-right: 0px;
            margin-left: auto;
          }
        .expandSearchGroupMobile{
            display: inline-block;
            position: relative;
            overflow: hidden;
            border: transparent;
            input{
              border:1px solid #cccccc;
              background: content-box;
              text-decoration: none;
              border-radius: 10px;
              padding-top: 8px ;
              outline: none;
              width:140px;
              height: 21px;
              display:flex;
              caret-color: white;
              padding-right: 32px;
              padding-bottom: 8px;
            }
            // .searchIcon{
            //   position: absolute;
            //   top: 0;
            // //   right: 0;
            //   padding: 8px 8px 0px 22px ;
            //   color: white;
            // }
            &:focus{
              input{
                padding-left: 50px !important;
              }
            }
            .searchIconMobile{
                position: absolute;
                top: 0;
              //   right: 0;
                padding: 8px 8px 0px 22px ;
                color: black !important;
              }
          }
    }

    input.forms-control-mobile{
        caret-color: black !important;
        width: 100%;
        padding-left: 55px !important;

    }

::ng-deep{
      @media only screen and (max-width:560px) {
        .search-container{
            display: none !important;

          }
          ::placeholder{
            color: black !important;
            // padding-left: 3rem;

          }
          .scroll-infinite{
            padding-top: 0px !important;

            }

            .theme-muave.night-mode ::placeholder{

                    color: white !important;
                    // padding-left: 3rem;

              }
            .theme-muave.night-mode mat-icon.searchIconMobile.mat-icon.notranslate.material-icons.mat-icon-no-color{
                color: white !important;

                }
            .theme-muave.night-mode input.forms-control-mobile{
              color: white !important;
                }

            .theme-muave.night-mode .search-mobile-container .expandSearchGroupMobile input {
              caret-color: white !important;
                }

      }
    }

      @media only screen and (min-width: 760px) and (max-width:1024px) {
        .search-container{
            padding-right: 0;
          }

      }

    @media only screen and (min-width: 280px) and (max-width:310px) {
        .expandSearchGroupMobile  {
            input{
            width: 90px !important;
            }
        }
        .search-mobile-container{
            padding: 16px !important;
        }
    }

    @media screen and (max-width: 768px) {
        .maticonallign {
          overflow: hidden;
        }
    }

    @media screen and (max-width: 375px) {
        .maticonallign {
          overflow-x: hidden;
        }
    }

.mat-card.search-mobile-containers{
    padding: 16px 0px 16px 0px !important;

}

.wrapper{
    .fix-margin{
        grid-column-gap: 24px;
        grid-row-gap: 38px;
        @include breakpoint-xs{
          display: flex !important;
        }
    }
    .flat-error-alert {
        padding-left: 40px;
        z-index: 10;
        display: flex;
        flex-direction: row;
        min-height: 65px;
        border-radius: 4px;
        align-items: center;
        box-shadow: 1px 1px 10px 0 #f02f2fb3;
        background-color: #f38c8c94;
        width: 80%;
        margin: auto;
      }
      .alertmsg{
        width: 89%;
        margin: 0 auto 20px auto;
        .flat-no-data-alert {
            padding-left: 40px;
            z-index: 10;
            min-height: 65px;
            border-radius: 4px;
            align-items: center;
            box-shadow: 1px 1px 10px 0 #FFD180;
            background-color: #FFD180;
            }
      }
}

  .spinner {
  left: 50%;
  z-index: 999;
  height: 2em;
  width: 2em;
    @include breakpoint-xs {
            left: 45%;
        }
    }
    @media only screen and (min-width: 760px) and (max-width:1024px) {
    .search-container{
    padding-right: 0;
    // border: 1px red solid;
    }

    }
    .scroll-infinite{
    // padding-top: 58px;
 padding-bottom: 185px;
    }


.wrapper{
    .fix-margin:not(:root:root){
      display: grid;
      grid-column-gap: 24px;
      grid-row-gap: 48px;
      justify-content: center;
      grid-template-columns: repeat(auto-fit, minmax(339px, auto));
    }
}

  @media only screen and (max-width: 600px) {
    .fix-margin:not(:root:root){
      display: grid !important;
      grid-column-gap: 24px;
      grid-row-gap: 48px;
      grid-template-columns: repeat(auto-fit, minmax(280px, auto)) !important;
    }

  }
   @media only screen and (max-width: 320px) {
        .fix-margin:not(:root:root){
      grid-template-columns: repeat(auto-fit, minmax(302px, auto)) !important;
        }
   }
   @media only screen and (max-width: 280px) {
    .fix-margin:not(:root:root){
  grid-template-columns: repeat(auto-fit, minmax(236px, auto)) !important;
    }
}


.tab-people-content {
  align-items: center;
  padding-top: 0;
  margin-bottom: 15px;
}

.search-results-section {
  border-bottom: 1px solid #925eb0;
  display: flex;
}

.tab-content-section, .tab-user-section {
  height: 50px;
  width: 100%;
  // border-left: 1px solid #d9d8d8;
}

.tab-user-section .active{
  border-top: 1px solid #42428b;
  border-left: 1px solid #42428b;
  // border-bottom : 1px solid #925eb0
}


.tab-content, .tab-user{
  height: 100%;
  background-color: white;
  border: 1px solid #d9d8d8;
  border-right: 0;
  border-left: 0;
  border-bottom: 0;
  width: 100%;
  text-align: center !important;
  font-size: 18px;  
  font-weight: 600;
}

.tab-content.active, .tab-user.active{
  color: #925eb0;
  color: white;
  background-color: #42428b;
  font-size: 18px;  
  font-weight: 600;
}

