.nav-bar-style{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 22px;
}
.expandSearchGroup{
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: transparent;
    input{
      border:1px solid #cccccc;
      background: content-box;
      text-decoration: none;
      border-radius: 4px;
      padding-top: 8px ;
      outline: none;
      width:200px;
      display:flex;
      caret-color: white;
    //   padding-left: 2rem;
      padding-right: 32px;
      padding-bottom: 8px;
    }
    .searchIcon{
      position: absolute;
      top: 0;
    //   right: 0;
      padding: 6px 8px 0px 27px ;
      color: white;
    }
    &:focus{
      input{
        padding-left: 50px !important;
      }
    }
  }
  .search-container{
    padding-right: 1.5rem;
  }
  input.forms-control{
    width: 100%;
    padding-left: 55px !important;
  }
  ::placeholder {
    color: white;
    // padding-left: 3rem;
   

  }

  .span-class{
      flex:2
  }
  @media only screen and (min-width: 360px) and (max-width:510px) {
    .search-container{
        padding-right: 0;
    //    border: 1px red solid;
      }
      .expandSearchGroup input{
          width:75%;
          padding-right: 0;
      }
      input.forms-control {
        width: 100%;
        padding-left: 30px !important;
    }
    .expandSearchGroup .searchIcon{
        padding: 6px 8px 0px 6px;

      }
  }
  @media only screen and (min-width: 760px) and (max-width:1024px) {
    .search-container{
        padding-right: 0;
    //    border: 1px red solid;
      }
    
  }
.scroll-infinite{
    margin-top: 58px;
    margin-bottom:31px;
}
@media only screen and (min-width: 280px) and (max-width:350px) {
.expandSearchGroup input{
          width: 95%;
          padding-right: 0;
      }
      .expandSearchGroup .searchIcon{
        padding: 6px 8px 0px 11px;

      }
      .search-container{
        padding-right: 0;
      
      }
      ::placeholder {
        color: white;
        padding-left: 3rem;
      }
      input.forms-control{
        width: 100%;
         padding-left: 0 !important; 
    }
      
  }


