<div class="content relative">
  <div class="orignial rounded-sm">
    <ng-container [ngTemplateOutlet]="mainCardContent"></ng-container>
  </div>
  <div class="substitute rounded-sm absolute top-0 left-0">
    <ng-container [ngTemplateOutlet]="mainCardContent"></ng-container>
  </div>
</div>

<ng-template #mainCardContent>
  <mat-card class="profile-card text-center overflow-hidden cursor-pointer">
    <div class="flex mx-auto pt-4 image align-center justify-center" >
      <img class="img-width rounded-full h-24 w-24"
        [src]="userData?.source_profile_picture ? userData.source_profile_picture : defaultUserImage">
    </div>
    <div class="text-center mt-2 px-small-7 card-body">
     <div>
      <div class="font-size-18 flex justify-center align-center break-words txt-color">
        <ng-container *ngIf="showConnectedUser(userData, connectionData)">
          <mat-icon class="conn-done mr-3">done</mat-icon>
        </ng-container>
        <span *ngIf="userData?.first_name.length || userData?.middle_name.length || userData?.last_name.length"
          class="middle-text mr-2">{{userData?.first_name}} {{userData?.middle_name}} {{userData?.last_name}}</span>
        <ng-container *ngIf="showMailIcon(userData, connectionData)">
         <a href="mailto:{{connectionData.email}}"><mat-icon class="color-on-hover mr-3">mail_outline</mat-icon></a> 
        </ng-container>
      </div>
    </div>
      <div class="font-size-18 org-color mt-2">
        {{userData?.department_name}}
      </div>
      <div class="hovercard mt-3">
        <div class="font-size-14 txt-color underline break-all" *ngIf="userData?.user_properties?.value?.profileLink">
            <div class="profile" (click)="navigateToProfileLink(userData?.user_properties?.value?.profileLink)">{{userData?.user_properties?.value?.profileLink}}</div>
        </div>
        <div class="flex flex-col">
          <div class="bio-desc overflow-y-auto font-size-14 mx-5 txt-color">
            <p>{{userData?.user_properties?.value?.bio}}</p>
          </div>
          <div class="hovercard mt-1" *ngIf = "hideButtonStatus(userData, connectionData) ">
            <button mat-raised-button  [class.spinner]="isLoadingConnection"  [attr.outage-count]="Withdraw" [ngClass] = "{'btn-status': buttonStatus === 'Pending'}" (click)="acceptConnection(userData, connectionData)">
              <span class="btn-txt">{{buttonStatus}}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
</ng-template>