<mat-icon class="mat-icon notranslate material-icons mat-icon-no-color ws-mat-primary-text custom-close" 
          aria-hidden="true" 
          mat-dialog-close
          i18n-matTooltip matTooltip="Close"
          style="color: rgb(255 255 255 / 85%) !important;"
          >close</mat-icon>
<div class="video-container">
    <video class="video-js vjs-default-skin vjs-big-play-centered" style="width: 95%; height: 95%"controls autoplay>
        <source [src]="url" type="video/mp4">
      </video>
</div>