.profile-card {
height: 214px;
width:340px;
background: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border: 1 px yellow solid;
position: relative;
margin-left: 24px;




}
.profile-card.mat-card{
  padding:0px !important;
}
.profile-card:hover{
  // position:absolute;
  //  width: 340px;
  //  z-index: 20;
  //   height: 400px;
  //   color: white;
  //   background:#42428B;


    flex-grow: 10;
  height: 400px;
  width: 340px;
  overflow: visible;
  border: 3px solid red;
  z-index: 20;
  position:absolute;
  background:#42428B;

}
.org-color{
color: rgba(105, 100, 102, 0.8) !important;
}
.txt-color{
  padding: 16px 0 8px 0;
color: #696466 !important;
mat-icon{
  padding-left:8px;
}
}
// .width-400 {
//   width: 400px;
// }
