<div class="content mb-12 relative">
  <mat-card class="rounded-sm profile-card text-center overflow-hidden cursor-pointer">
    <div class="flex h-24 w-24 mx-auto pt-4">
      <img src="/assets/instances/space/common/profile.png">
    </div>
    <div class="text-center">
      <div class="font-size-18 flex justify-center align-center txt-color">
        <span>sample</span>
        <mat-icon>mail_outline</mat-icon>
      </div>
      <div class="font-size-18 org-color">
        sample
      </div>
      <div class="mt-6">
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
        <div class="mt-6">
          https://material.io/resources/icons/?icon=trending_flat&style=baseline
        </div>
      </div>
    </div>
  </mat-card>
</div>