<div class="content">
  <div class="column">
    <mat-card class="profile-card mt-2">
      <div class="flex h-24 w-24 mx-auto mt-4 mb-4">
        <img src="/assets/instances/space/common/profile.png">
      </div>
      <div class="text-center md:text-left space-y-4">
        <div class="font-size-16 pb-2 txt-color">
          <span>sample name</span>
          <mat-icon class="pl-3">mail_outline</mat-icon>
        </div>
        <div class="font-size-18 pb-4 org-color">
          sample
        </div>
        <div>
          <p>
            https://material.io/resources/icons/?icon=trending_flat&style=baseline
          </p>
          <p>
            https://material.io/resources/icons/?icon=trending_flat&style=baseline
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</div>