<mat-toolbar [hidden]="!showAppNavBar" [color]="primaryNavbarBackground?.color"
  [ngStyle]="primaryNavbarBackground?.styles" id="appWhiteNavbar"
  class="mat-elevation-z3 mat-toolbar-style custom-padding">
  <ng-container *ngIf="mode === 'top'">
    <div class="logosize">
      <a routerLink="/page/home" i18n-matTooltip matTooltip="Home" name="applicationLogo" class="logo-dim">
        <img [src]="appIcon" alt="Application Logo" class="app-logo" />
      </a>
    </div>
    <ng-container *ngIf="primaryNavbarConfig?.mediumScreen">
      <ng-container [ngTemplateOutlet]="navbarSide" [ngTemplateOutletContext]="{ item: item }"
        *ngFor="let item of primaryNavbarConfig?.mediumScreen?.left">
      </ng-container>
      <span class="spacer"></span>
      <ng-container [ngTemplateOutlet]="navbarSide" [ngTemplateOutletContext]="{ item: item }"
        *ngFor="let item of primaryNavbarConfig?.mediumScreen?.right">
      </ng-container>
      <div class="custom-style">
        <ng-container [wsResolverWidget]="btnAppsConfig"></ng-container>
      </div>
    </ng-container>
  </ng-container>
  <div class="flex justify-between items-center w-full" *ngIf="mode === 'bottom'">
    <ng-container *ngIf="primaryNavbarConfig?.smallScreen">
      <ng-container [ngTemplateOutlet]="navbarSide" [ngTemplateOutletContext]="{ item: item }"
        *ngFor="let item of primaryNavbarConfig?.smallScreen?.left">
      </ng-container>
    </ng-container>
    <a role="button" matRipple class="flex items-center flex-col px-2 box-sizing-box" routerLink="/page/home" active
      routerLinkActive="ws-mat-accent-text">
      <ng-container *ngIf="!appBottomIcon">
        <mat-icon>home</mat-icon>

        <span [ngClass]="instanceVal === 'RootOrg' ? 'title font-sans' : 'mat-caption'">Home</span>
      </ng-container>
      <ng-container *ngIf="appBottomIcon">
        <img width="40px" height="40px" [src]="appBottomIcon" i18n-alt alt="Home" />
      </ng-container>
    </a>
    <ng-container *ngIf="primaryNavbarConfig?.smallScreen">
      <ng-container [ngTemplateOutlet]="navbarSide" [ngTemplateOutletContext]="{ item: item }"
        *ngFor="let item of primaryNavbarConfig?.smallScreen?.right">
      </ng-container>
    </ng-container>
    <ng-container [wsResolverWidget]="btnAppsConfig"></ng-container>
  </div>
</mat-toolbar>

<ng-template #navbarSide let-item="item">
  <ng-container *ngIf="item.type === 'widgetButton'" [wsResolverWidget]="item.config"></ng-container>
  <ng-container *ngIf="item.type === 'searchNewUIBtn' && !hideGlobalSearch">
    <label class="expandSearch">
      <input [formControl]="globalSearch" (keyup.enter)="triggerGlobalSearch()" type="text" placeholder="Search content..." name="search">
      <mat-icon (click)="triggerGlobalSearch()" class="searchIcon">search</mat-icon>
    </label>
  </ng-container>
  <ws-widget-btn-feature class="item.widgetHostClass" style="padding-left:20px;padding-right: 17px;"
    *ngIf="item.type === 'featureButton'" [id]="item.config.actionBtnId" [widgetData]="item.config"
    [showFixedLength]="true">dfnj
  </ws-widget-btn-feature>
</ng-template>

<mat-menu aria-label="helpMenu" #helpMenu="matMenu" name="helpOptionsListContainerHomePage">
  <div mat-menu-item class="padding-remove" *ngIf="featureApps.indexOf('feature_aboutUs') > -1">
    <ws-widget-btn-feature [widgetData]="{
        actionBtnId: 'feature_aboutUs',
        config: {
          type: 'mat-menu-item'
        }
      }"></ws-widget-btn-feature>
  </div>
  <div mat-menu-item class="padding-remove campaign" *ngIf="featureApps.indexOf('feature_collaborators') > -1">
    <ws-widget-btn-feature [widgetData]="{
        actionBtnId: 'feature_collaborators',
        config: {
          type: 'mat-menu-item'
        }
      }"></ws-widget-btn-feature>
  </div>
</mat-menu>