<div id="about" #about>
  <div class="aboutUs-container">
    <h1 class="header heading-style font-size-48px font-campaign pt-24 pl-16 name" name="about" [ngClass]= "{'name-login': (authSvc.isLoggedIn$ | async) === false, 'pl-login':(authSvc.isLoggedIn$ | async) === false}">About Us</h1>
  </div>
  <div class="flex about-us-wrapper">
    <div class="col-1">
      <section *ngIf="!aboutPage?.detailaboutenable" class="text-section">
        <div class="pt-12 pl-16 text-wrap text-style less-padding parent-wrapper" [ngClass]="{'pl-login':(authSvc.isLoggedIn$ | async) === false}" *ngFor="let content of aboutPage.section5.paragraph">
          <p [innerHTML]="content.value | pipeSafeSanitizer: 'html'"></p>
        </div>
      </section>
    </div>
    <div class="col-2">
      <div class="pr-4">
        <div class="img-container pt-5" (click)="openVideoDialog()">
          <img src="/assets/instances/space/banners/about.png">
        </div>
      </div>
    </div>
  </div>
</div>