@import "ws-mixins";

.footer-container {
  // display: flex;
  justify-content: space-between;
  text-align: justify;
  @include breakpoint-xs {
    flex-direction: column;
    min-height: 80px;
  }
}
.text-style {
  margin-bottom: 6px !important;
}
.policy-text-style {
  font-weight: bold;
  font-size: 14px !important;
  color: #ffffff !important;
}
.policy {
  color: white !important;
  font-weight: bold !important;
}
.font-12 {
  font-size: 12px !important;
}
#display-item {
  background-color: #42428b !important;
}
#display-responsive {
  background-color: #42428b !important;
}
@media (max-width: 971px) and (min-width: 250px) {
  #display-item {
    display: none;
  }
  #display-responsive {
    text-align: center;
    font-size: unset !important;
  }
}
@media (min-width: 972px) {
  #display-responsive {
    display: none;
    justify-content: center;
  }
}
/* text style start */
a {
  color: #ffffff !important;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}
.mail-style {
  color: #ffe22a !important;
}
p {
  color: #ffffff !important;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}
.mat-grid-tile {
  position: initial !important;
}
.mat-body {
  display: flex;
  justify-content: flex-start;
}
/* footer content style */
// .col-1 {
//   flex: 1;
// }
.col-2 {
  // flex: 2;
  margin-left: 4rem;
}
@media screen and (max-width: 600px) {
  #display-responsive {
    margin-bottom: 56px;
  }

  @media screen and (min-width: 270px) and (max-width: 290px) {
    a {
      font-size: 12px !important;
    }
  }
}
