@import 'ws-vars';
@import 'ws-common';

.collaborator-wrapper {
  padding-left: 4rem;
}

/* collaborator page design start */
.header {
font-weight: 460;
font-size: 48px;
line-height: 55px;
color: #925EB0;
height: 65px;
padding: 55px 0 55px 0;
margin: 0;
  @include breakpoint-xs {
    font-size: 38px !important;
    text-align: center;
  }
}
  @media only screen and (max-width: 321px) {
    .header {
    font-size: 27px !important;
  }
}
.partnerContainerBody {
  @include breakpoint-xs {
    padding-top: 2.5rem !important;
  }
}
.container {
  justify-content: center;
  margin: 0;
}

.partnerBody {
  width: auto;
  margin: 0;
}

a {
  background-color: transparent;
  color: #1cadce;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
}
img {
  // width: 9rem;
    width: 100%;
}

.card-container {
  height: 200px;
    /* margin-right: 16px; */
    min-width: 200px;
     width: 200px;
    min-height: 200px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    cursor: pointer;
    border: 2px blue solid;
    /* position: relative; */
    border: 2px solid #925eb0;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 20px;
    align-items: center;
    padding: 0.4rem;
}
.scroller-container{
  width: 85%;
  padding: 128px 0 205px 0;
}

.parent-scroller-container{
  display: flex;
  justify-content: center;
}
.container-item{
  height: 100%;
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 680px) {
  .partnerBody {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 0;
  }
  .partnerContainer {
    margin: auto;
    padding-bottom: 10px;
  }
  .no-padding {
    padding: 0;
  }
  .imageRow {
    display: flex !important;
    padding-top: 0;
  }
  .header {
    margin: 0;
    padding-left: 0;
    text-align: center;
    padding: 45px 0;
  }
  .padding-para{
    padding-left: 0 !important;
  }
  .collaborator-wrapper {
    padding: 1.2rem;
    padding-top: 0;
  }
  .scroller-container {
    padding: 45px 0 60px 0;
  }
  p[_ngcontent-tbn-c13] {
    margin-bottom: 0 !important;
  }
}

