@import 'ws-vars';
@import 'ws-common';

/* collaborator page design start */
.header {
font-weight: 460;
font-size: 48px;
line-height: 55px;
color: #925EB0;
width:240px;
height: 65px;
  @include breakpoint-xs {
    font-size: 38px !important;
  }
}
  @media only screen and (max-width: 321px) {
    .header {
    font-size: 27px !important;
    width: 217px !important;
  }
}
.partnerContainerBody {
  @include breakpoint-xs {
    padding-top: 2.5rem !important;
  }
}
// .ellipse2 {
//     background: no-repeat;
//     background-image: url(/assets/instances/space/banners/Ellipse16.png);
//     background-size: 5rem;
//     background-position: center;
//     width: 19%;
//     height: 5rem;
//     float: right;
//     margin-top: -7rem;
//     @include breakpoint-xs {
//        display: none;
//      }
//     @include breakpoint-s {
//        margin-top: -9rem;
//     }
//     @include breakpoint-m {
//       margin-top: -9rem !important;
//     }
// }
// .group {
//     background: no-repeat;
//     background-image: url(/assets/instances/space/banners/Group19.png);
//     background-size: 3rem;
//     background-position: center;
//     width: 10%;
//     height: 5rem;
//     float: right;
//     margin-top: 1rem;
//     margin-right: -3.5rem;
//      @include breakpoint-xs {
//        display: none;
//      }
//      @include breakpoint-s {
//        margin-right: -2.5rem !important;
//        width: 13% !important;
//      }
// }
// .group2 {
//     background: no-repeat;
//     background-image: url(/assets/instances/space/banners/Group17.png);
//     background-size: 4rem;
//     background-position: center;
//     width: 10%;
//     height: 5rem;
//     margin-top: -7rem;
//     margin-left: 51rem;
//     @include breakpoint-xs {
//        display: none;
//      }
//     @include breakpoint-s {
//       margin-left: 30rem !important;
//     }
//     @include breakpoint-m {
//       margin-left: 40rem !important;
//     }
// }
.container {
  // max-width: 100%;
  justify-content: center;
  margin: 0;
}
// .imageRow {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   margin-bottom: 20px;
//   max-width: 80%;
//   margin: auto;
// }

@media only screen and (max-width: 680px) {
  .partnerBody {
    width: 88%;
    padding-left: 2.4rem;
  }
  .partnerContainer {
    margin: auto;
    padding-bottom: 10px;
  }
  .no-padding {
    padding: 0;
  }
  .imageRow {
    display: flex !important;
    padding-top: 0;
  }
  #collaborator h1{
    padding-left: 2.4rem;
}
}


a {
  background-color: transparent;
  color: #1cadce;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in;
}
img {
  // width: 9rem;
    width: 100%;
}
// .exception-style {
//     //  margin-top: -2rem;
//     margin-top: -0.9rem;
//     width: 9rem;
//     height: 8rem;
// }
// .net-style {
//     width: 9rem !important;
//     height: 3rem !important;
// }

.card-container {
  height: 200px;
    /* margin-right: 16px; */
    min-width: 200px;
     width: 200px;
    min-height: 200px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    cursor: pointer;
    border: 2px blue solid;
    /* position: relative; */
    border: 2px solid #925eb0;
    box-sizing: border-box;
    border-radius: 20px;
    margin: 20px;
    align-items: center;
    padding: 0.4rem;




}
.scroller-container{
  width: 85%;
  padding: 128px 0 205px 0;
}

.parent-scroller-container{
  display: flex;
  justify-content: center;
}
.container-item{
  height: 100%;
    align-items: center;
    display: flex;
}

.org-text-padding{
  padding-top: 39px;
  // @include breakpoint-lt-s{
  //   padding-top: 0;
  // }
}

@media only screen and (max-width: 599px){
  .partnerBody{
     padding-left: 15.5%;
  }
}

@media only screen and (max-width: 599px){
  .org-text-padding{
     padding-top: 1px !important;
  }
}

.padding-para{
  padding-left: 96px;
}

@media only screen and (max-width: 599px){
  .padding-para{
  padding-left: 0px !important;
}
}

// @media only screen and (min-width: 544px) and (max-width: 548px){
//   .partnerBody{
//      padding-left: 10.5% !important;
//   }
// }