<div class="collaborator-wrapper"  [ngClass]= "{'collaborator-wrapper-login': (authSvc.isLoggedIn$ | async) === false}">
  <div id="collaborator" #collaborator>
    <h1 class="header heading-style heading-font-size-primary font-campaign" name="collaborator">Collaborators</h1>
    <div class="org-text-padding padding-para">
      <p class="container partnerBody text-style">
        Organisations that are contributing assets as public goods.
      </p>
    </div>
  </div>
</div>
<div class="parent-scroller-container" [ngClass]= "{'parent-scroller-container-login': (authSvc.isLoggedIn$ | async) === false}">
  <div class="scroller-container" [ngClass]= "{'scroller-container-login': (authSvc.isLoggedIn$ | async) === false}">
    <ws-utils-horizontal-scroller *ngIf=" partner.src?.length" [loadStatus]="'done'" [public]="scrollKey">
      <div class="card-container" *ngFor="let src of partner.src;let i = index">
        <a href="{{partner.url[i]}}" target="_blank">
          <img src="{{ src }}">
        </a>
      </div>
    </ws-utils-horizontal-scroller>
  </div>
</div>